#first {
    padding-top: 60px;
    margin-top: 50px;
    padding-bottom: 60px;
}

#first img {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

#first>a>div {
    margin-top: 40px;
}

#project>div:first-child {
    color: #454545;
    text-align: center;
}

#project>div:nth-child(2) {
    border-bottom: 5px #ffc107 solid;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.my_container {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
}

.block {
    width: 30%;
    float: left;
    height: 500px;
}

.block:nth-child(3n+2) {
    margin-left: 5%;
    margin-right: 5%;
}

.block img {
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15)
}

.top {
    position: relative;
    height: 60%;
    width: 100%;
    overflow: hidden;
}

.top>img {
    height: auto;
    width: 94%;
}

.des {
    text-align: center;
}

.des p:first-child {
    color: #2a8590;
    font-size: 2rem;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25)
}

.des p:nth-child(2) {
    margin-bottom: 30px;
}

.btn.btn-default:nth-child(3) {
    margin-right: 10px;
}

footer {
    float: left;
    width: 100vw;
}

@media (max-width:1024px) {
    .block {
        width: 45%;
    }
    .block:nth-child(3n+2) {
        margin-left: 0px;
        margin-right: 0px;
    }
    .block:nth-child(2n) {
        margin-left: 5%;
    }
}

@media (max-width:764px) {
    .block:nth-child(3n+2) {
        margin-left: 0px;
        margin-right: 0px;
    }
    .block {
        width: 100%;
    }
    .block:nth-child(2n) {
        margin-left: 0;
    }
    .top {
        height: 80%;
    }
    .img-logo img {
        width: 80%;
    }
}